{% extends 'base.html' %} {% block content %}
<h3>Sign in</h3>


<div class="row">
    <div class="col-md-4">
        <form action="{{url_for('login')}}" method="POST" id="user_feel">
            <div class="col-auto">
                <label class="sr-only" for="email">Email</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-transparent border_bottom_only"><i class="fas fa-at"></i></div>
                    </div>
                    <input type="email" class="form-control form-control-lg border_bottom_only" id="email" name="email"
                           placeholder="Email" required value="{{session['form_email'] }}">
                </div>
            </div>

            <div class="col-auto">
                <label class="sr-only" for="password">Password</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-transparent border_bottom_only">
                            <i class="fas fa-globe"></i>
                        </div>
                    </div>

                    <input type="password" class="form-control form-control-lg border_bottom_only" id="password"
                           placeholder="Password" name="password" required>
                </div>
            </div>
            {{ feelometer() }}

<!--            &lt;!&ndash;feelometer&ndash;&gt;-->
<!--            <div class="form-group bg-light">-->
<!--                <div class="col-auto">-->
<!--                    <label class="sr-only" for="user_feel">user_feel</label>-->
<!--                    <div class="input-group mb-2">-->
<!--                        <div class="input-group-prepend">-->
<!--                            <div class="input-group-text bg-transparent border_bottom_only">-->
<!--                                <i class="fas fa-heart"></i>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <input type="text" class="form-control  border_bottom_only bg-transparent sign_up"-->
<!--                               id="feeling_holder" name="user_feel"-->
<!--                               placeholder="How do you feel?"  readonly required>-->
<!--                    </div>-->
<!--                </div>-->


<!--                <div class="d-flex  justify-content-center align-items-center">-->
<!--                    <label class="sr-only" for="feeling">feeling</label>-->
<!--                    <div class="input-group mb-2">-->
<!--                        <div class="input-group-prepend">-->
<!--                            <div class="input-group-text no_border bg-transparent">-->
<!--                                <img class="globi_icon" src="{{url_for('static', filename='src/images/sad.png')}}"/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <input type="range" min="1" max="100"-->
<!--                               class="custom-range" id="feeling">-->
<!--                        <div class="input-group-prepend">-->
<!--                            <div class="input-group-text no_border bg-transparent">-->
<!--                                <img class="globi_icon" src="{{url_for('static', filename='src/images/happy.png')}}"/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
            <div class="mt-5">
                <button class="btn bg_blue text-light pt-3 pb-3 pr-5 pl-5 float-right smaller_h"
                        title="Have a great day!">Sign
                    in!
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        space for your add
    </div>

</div>


</div>
<div class="col-lg-8 col-md-12">

</div>


</div>


{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='src/js/shared/feelometer.js')}}"></script>
{% endblock%}