@import url('https://fonts.googleapis.com/css?family=Lato:300,800|Oswald&display=swap|Exo+2:ital,wght@1,900&display=swap');
/*INITIAL VALUES SET TO 0 TO AVOID ANY SURPRISES FROM THE DIFFERENT BROWSER RENDERING*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #777777;
}

h2, h3, h4 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #0e4963;
}

.country_name {
  font-family: Oswald, sans-serif;
  letter-spacing: 4px;
  color: #0e4963;
  font-size: 1.4em;
}

h4.feelist_title {
  text-transform: none;
}

h4.danger_title {
  text-transform: none;
  color: red;
}

.smaller_h {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #0e4963;
  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0;
}

#chart_holder {
  /*background-color: #c0c0c0;*/
  /*  position:fixed;*/
  /*  top:0;*/
  /*  z-index:100;*/
}

.one_thing {
  line-height: 2;
}

.interaction-holder {
}

.form_label {
  font-size: 1em;
}

.int_steps {
  min-height: 380px;
  border: solid 1px rgba(111, 227, 0, 1);
}

.border_bottom_only {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.no_border {
  border: none;
}
.no_padding{
  padding: 0;
}
#hearth {
  /* aspect ratio of the image 300/1600*/
  /*https://stackoverflow.com/questions/11099930/100-width-background-image-with-an-auto-height*/
  background-position: center center;
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url("../images/globe.png");
}

.hearth {
  font-size: 6em;
  color: rgba(179, 0, 0, 0.85);
}

.feel_out {
  font-size: 3em;
  color: #635b4e;
}

.feel_in {
}

.custom-range {
  width: 66%;
  margin-top: 30px;
}

#feeling_holder {
  font-size: 0.9em;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-right: 55px;
}

#feeling_holder.sign_up {
  font-size: 1.25em;
  font-family: Lato, sans-serif;
  text-transform: none;
  letter-spacing: 0px;
}

/* COUPLE OF DIVS TO ALIGN CHILD DIV TO THE BOTTOM OF A PARENT DIV*/
.parent {
  position: relative;
}

.child_at_bottom {
  position: absolute;
  bottom: 0;
  margin: 10px 0 0 10px;
}

.initial_interaction {
  font-size: 4em;
  font-family: 'Exo 2', sans-serif;
  color: rgba(23, 113, 153, 0.15);
}
.initial_interaction.user{
   font-size: 3.2em;
}
.chart, .user_nav, .delete_action,
.delete_feelist, .add_to_glob,
.remove_from_glob, .delete_post,
.edit_post, .delete_fav, #remove_from_globe {
  cursor: pointer;
}

.chart:hover, .user_nav:hover {
  background-color: rgba(23, 113, 153, 0.1);
  color: #0e4963;
  font-weight: bold;
}

.feelist, .glober {
  padding: 0 0 0 40px;
  cursor: pointer;
  font-weight: bold;
  color: #0e4963;
}

.feelist:hover, .glober:hover {
  background-color: rgba(111, 227, 0, 0.2);
}

.delete_action {
  color: grey;
}

.delete_action:hover, .delete_feelist:hover, .remove_from_glob:hover, .delete_post:hover, .delete_fav:hover, #remove_from_globe:hover {
  color: red;
  font-size: 1.2em;
}

.user_interaction {
  padding: 20px;
}

.add_to_glob:hover, .edit_post:hover {
  color: #177199;
  font-size: 1.2em;
}

img.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 3px;
}

.h_aligned {
  margin-left: auto;
  margin-right: auto;
}

.v_aligned {
  margin-top: auto;
  margin-bottom: auto;
}

.child_at_top {
  position: absolute;
  top: 0;
  margin: 10px 0 0 10px;
}

.gl_button {
  background-color: #177199;
  color: whitesmoke;
  font-family: "Lato", sans-serif;
  padding: 2px 10px 2px 10px;
  margin: 20px 2px 20px 2px;
  cursor: pointer;
  border: 1px solid #177199;
  white-space: nowrap;
}

.gl_button.danger {
  background-color: red;
  color: whitesmoke;
}
a.map_chart{
   color:  #0e4963;
  text-decoration: none;
}
a.map_chart:hover {
  background-color:#177199;
  color: whitesmoke;
  font-weight: normal;
  padding: 2px;
  text-decoration: none;

}
a.user:hover{

  color: #0e4963;
  font-weight: bolder;

  text-decoration: none;
}
.gl_button:hover {
  background-color: whitesmoke;
  color: #177199;
  border: 1px solid #177199;
}

.gl_button.opaque {
  background-color: whitesmoke;
  color: #177199;
  border: 1px solid #177199;
}

.gl_button.opaque:hover {
  background-color: #177199;
  color: whitesmoke;
  border: 1px solid #177199;
}

.gl_selected {
  background-color: rgba(23, 113, 153, 0.7);
  color: whitesmoke;
}

.gl_btn_round {
  background-color: #177199;
  color: whitesmoke;
  font-family: "Lato", sans-serif;
  border-radius: 50%;
  padding: 2px 10px 2px 10px;
  margin: 3px;
  cursor: pointer;
  border: 1px solid #177199;
  white-space: nowrap;
}

.gl_btn_round:hover {
  background-color: whitesmoke;
  color: #177199;
}

.gl_button.beta {
  background-color: #990099;
  color: whitesmoke;
  border: none;
}

.gl_button.beta:hover {
  background-color: #990099;
  color: whitesmoke;
}

.gl_button.green {
  background-color: rgba(111, 227, 0, 1);
  border: none;
}

.gl_button.green:hover {
  border: solid 1px #990099;
}

.gl_action:hover {
  color: #177199;
}

.gl_toggler {
  margin-top: -20px;
  width: 50px;
}

#map_sign_up {
  height: 400px;
}

.map_0 {
  background-color: #EEEEEE;
}

.map_color_legend ,.reload{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 7px 0 0px 0;
}

.map_color_legend:hover ,.reload:hover{
  background-color: #EEEEEE;
  color: #006400;
  border: 1px dashed #006400;
  font-weight: bold;
}

.dashed_border {
  border: 1px dashed #006400;
  background-color: #EEEEEE;
}

.map_20 {
  background-color: #006400;
  color: #fafafa;
}

.map_40 {
  background-color: #20B2AA;
  color: #fafafa;
}

.map_60 {
  background-color: #66FF00;
  color: #0e4963;
}

.map_80 {
  background-color: #40E0D0;
  color: #0e4963;
}

.map_100 {
  background-color: #FFFF00;
  color: #0e4963;
}

.locations_list {

   color: #0e4963;
}
.locations_list:hover{
    background-color: #0e4963;
    color: whitesmoke;
    padding:2px;
}

/*app specific color classes*/
.bg_blue {
  background-color: #177199;
}

.bg_blue_light {
  background-color: rgba(23, 113, 153, 0.8);
}

.blue {
  color: #177199;
}

.border_blue {
  border: 1px solid #177199;
}

.border_blue_l {
  border: 1px solid rgba(23, 113, 153, 0.2);
}

.border_green {
  border: solid 1px rgba(111, 227, 0, 1);
}

.bg_green {
  background-color: rgba(111, 227, 0, 1);
}

.bg_purple {
  background-color: #990099;
}

.border_purple {
  border: solid 1px #990099;
}

.purple {
  color: #990099;;
}

.map_controls {
  color: #177199;
  font-size: 1.5em;
}

.map_controls.mobile {
  font-size: 1.2em;
  margin-left: 3px;
  margin-right: 3px;
  padding: 3px;
}

.map_controls:hover {
  background-color: #177199;
  color: whitesmoke;
  padding: 3px;
}

.map_controls.mobile:hover {
  background-color: #177199;
  color: whitesmoke;
  padding: 3px;
}

a:hover {
  text-decoration: none;
}

.user_initials {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 1.4rem;
  background-color: transparent;
  color: #177199;
  border: solid 1px rgba(111, 227, 0, 1);
}

.dropdown-item:hover {
  background-color: rgba(23, 113, 153, 0.7);
  text-decoration: none;
  color: whitesmoke;
}

.form-control {
  border-radius: 0;
}

.adds {
  width: 100%;
  height: 100%;
}

.user_heart {
  height: 50px;
  background-position: center center;
  background-size: 30%;
  background-repeat: no-repeat;
  background-image: url("../images/hearth.png");
}

.user_heart.country {
  height: 100px;
}

.user_heart.user_page {
  height: 50px;
  background-position: center center;
  background-size: 15%;
  background-repeat: no-repeat;
}
.user_heart.public{
   background-size: 12%;
  background-position: center center;
}
/*REMOVING CARET FROM DROPDOWN UNDER USER ICON IN THE TOP RIGHT CORNER OF NAVIGATION*/
.caret-off::before {
  display: none;
}

.caret-off::after {
  display: none;
}

/*CUSTOMIZING LEAFLET'S CSS FOR STYLING POPUPS*/
.popup_class .leaflet-popup-tip, .popup_class .leaflet-popup-content-wrapper {
  background-color: rgba(23, 113, 153, 0.8);
  color: #fafafa;
  font-size: 1.2em;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  border: none;
  text-align: center;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: red;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: red;
}

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.leaflet-popup-tip-container {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  overflow: hidden;
  pointer-events: none;
}

#footer {
  min-height: 500px;
}

@media screen and ( max-width: 1200px ) {
  .custom-range {
    width: 60%;
    margin-top: 30px;
  }
}

@media screen and ( max-width: 990px ) {
  .custom-range {
    width: 60%;
    margin-top: 30px;
  }

  .globi_icon {
    width: 90%;
    height: 90%;
  }

  #hearth {
    background-size: 33%;
  }
}

@media screen and ( max-width: 767px ) {
  .custom-range {
    width: 60%;
    margin-top: 30px;
  }

  #hearth {
    background-size: 40%;
  }

  .initial_interaction {
    font-size: 2em;
  }
  .initial_interaction.user{
    font-size:1.5em;
  }
}

/*SMALLER SIZES FOR PROGRESS STEPS */
@media screen and ( max-width: 540px ) {
  .custom-range {
    width: 60%;
    margin-top: 20px;
  }

  .svg_legend {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px 0 0px 0;
    font-size: 0.7em;
  }

  #hearth {
    background-size: 50%;
  }
}